@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;600;700;800;900&display=swap');

/*================
    background     
================*/
body {
  background: url(images/pattern-background-mobile.svg);
  background-color: hsl(225, 100%, 94%);
  background-repeat: no-repeat;
  padding: 1rem;

  font-family: 'Red Hat Display', sans-serif;
}

/*==========
    card       
==========*/
.card {
  margin: auto;
  margin-top: 7vh;
  padding-bottom: 2rem;
  border-radius: 18px;

  background-color: #fff;
  max-width: min(100%, 22rem);

  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.1);
}

.card__img {
  border-radius: 18px 18px 0 0;
  max-width: 100%;
}

.card__heading {
  font-size: 1.4rem;
  text-align: center;
  padding-top: 0.75rem;

  font-weight: 800;
  color: hsl(223, 50%, 31%);
}

.card__description {
  text-align: center;
  padding: 0 2rem;

  font-weight: 500;
  color: hsl(224, 23%, 55%, 0.7);
  line-height: 1.5;
}

/*====================
    card__container      
====================*/
.card__container {
  background-color: hsl(225, 100%, 98%);
  display: grid;
  gap: 0;
  grid-template-columns: 25% 50% 25%;

  margin: 1.5rem;
  padding: 1rem 0.6rem;
  border-radius: 12px;
}

.card__container * {
  margin: auto;
}

.card__heading-price,
.card__price {
  margin-left: 0.8rem;
}

.card__heading-price {
  font-size: 0.9rem;
  font-weight: 900;
  color: hsl(223, 50%, 31%);
}

.card__price {
  font-size: 0.9rem;
  font-weight: 600;
  color: hsl(224, 23%, 55%, 0.75);
}

.card__btn-change {
  border: none;
  font-weight: 700;
  font-size: 0.8rem;
  color: hsl(245, 75%, 52%);
  font-family: 'red hat display', sans-serif;

  text-decoration: underline;
  background-color: hsl(225, 100%, 98%);

  transition: all 0.2s ease-in-out;
}

/* util */
.card--grid-row-span2 {
  grid-row: span 2;
}

/*==========================
    card__bottom-section   
==========================*/
.card__btn-proceed,
.card__btn-cancel {
  display: block;
  margin: auto;
  font-family: 'Red Hat Display', sans-serif;

  transition: all 0.2s ease-in-out;
}

.card__btn-proceed {
  border: none;
  color: #fff;
  background-color: hsl(245, 75%, 52%);
  font-weight: 700;
  font-size: 0.9rem;

  width: 87%;
  padding: 1em 4em;
  margin-bottom: 1rem;
  border-radius: 9px;

  box-shadow: 0 1rem 1rem hsl(245, 75%, 52%, 0.18);
}

.card__btn-cancel {
  border: none;
  background-color: transparent;
  margin-top: 1.5rem;

  font-size: 0.95rem;
  font-weight: 900;
  color: hsl(223, 50%, 31%, 0.6);
  text-shadow: hsl(223, 50%, 31%, 0.7);
}

/*==================
    hover states  
==================*/
.card__btn-change:hover,
.card__btn-proceed:hover,
.card__btn-cancel:hover {
  cursor: pointer;
}

.card__btn-proceed:hover {
  background-color: hsl(245, 75%, 52%, 0.65);
}

.card__btn-change:hover {
  color: hsl(245, 75%, 52%, 0.6);
  text-decoration: none;
}

.card__btn-cancel:hover {
  color: hsl(223, 50%, 31%);
}

/*======================
    attribution-footer  
======================*/
.attribution {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 11px;
  text-align: center;

  z-index: -1;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
